.loginBC{
    -fx-background-color: deepskyblue;
}
.loginBChild{
    -fx-background-color: gainsboro;
}
.loginBChildChild{
    -fx-background-color: dodgerblue;
}
.input{
    -fx-border-radius: 10px;
}
.button{
    -fx-background-radius: 20px;
}

.dashSmallerPane{
    -fx-right-border-radius: 20px;
}