.loginBC{
    -fx-background-color: #808000;
}
.loginBChild{
    -fx-background-color: 	#C0C0C0;
}
.loginBChildChild{
    -fx-background-color: dodgerblue;
}
.input{
    -fx-border-radius: 10px;
}
.button{
    -fx-background-radius: 20px;
}

.dashSmallerPane{
    -fx-right-border-radius: 20px;
}